:root {
  --super-dark-purple: rgba(58, 48, 84, 1);
  --dark-purple: rgba(75, 63, 107, 1);
  --gray: rgba(158, 154, 168, 1);
  --light-gray:#eff1f7;
  --cyan: #2bd0d0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: clamp(2.625rem, 5vw + 1rem, 4rem);
  line-height: 48px;
  letter-spacing: -1.05px;
  font-weight: 700;
}

h2 {
  font-size: clamp(1.75rem, 4vw + 1rem, 3rem);
  letter-spacing: -0.7px;
  font-weight: 700;
}

h3 {
  margin-bottom: 0.5em;
  font-size: 22px;
  line-height: 33px;
}

h4 {
  font-size: clamp(1.75rem, 1vw + 1rem, 2.5rem);
  line-height: 48px;
  letter-spacing: -0.7px;
  margin-bottom: 1em;
}

h5 {
  line-height: 24px;
  letter-spacing: -0.25px;
  font-size: 16px;
  font-weight: 700;
}

.footer-links {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.23px;
}

.text-align {
  text-align: center;
}

.hero-p {
  font-size: clamp(1.125rem, 1vw + 1rem, 1.375rem);
  letter-spacing: 0.12px;
  line-height: 32px;
  margin: 1em 0;
  color: rgb(158, 154, 168);
}

.sub-heading {
  font-size: clamp(1rem, 1vw + 1rem, 1.375rem);
}

.content-p {
  font-size: 15px;
  line-height: 26px;
}

.nav-btn {
  font-weight: 700;
  color: rgba(158, 154, 168, 1);
  font-size: 15px;
}

.nav-btn:hover {
  color: black;
}

/* END OF FONT SIZES */

/* HEADER START */
.mobile-nav-toggle {
  border-style: none;
}

.primary-navigation {
  display: flex;
  gap: 2em;
  list-style: none;
}

.hidden {
  display: none;
}

.hide-overflow {
  overflow: hidden;
}

#sign-up-btn {
  background: var(--cyan);
  border-radius: 20px;
  margin-inline: auto;
  color: white;
  font-weight: 700;
}

/* END HEADER */

.container {
  --max-width: 1110px;
  --padding: 2em;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.small-container {
  --max-width: 500px;
  --padding: 2em;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
  text-align: center;
  padding-top: 3em;
}

.small-container p, .card-text p {
  margin-top: 1em;
  color: rgba(158, 154, 168, 1);
}

.input__block {
  background: linear-gradient(to top, var(--light-gray) 50%, white 50%);
}

.form__url {
  background-image: url('./assets/images/bg-shorten-mobile.svg');
  padding: 2em;
  border-radius: 10px;
}

.form__url, .cta-block {
  background: var(--super-dark-purple);
}

.link-result-container {
  padding: 1em 0;
  background: var(--light-gray);
}

.link-result {
  background: white;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.cyan-text {
  font-weight: 700;
  color: var(--cyan);
}

.short-url-copy {
  display: flex;
  flex-direction: column;
}

.copy-btn {
  background: var(--cyan);
  height: 40px;
  min-width: 103px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.cta-block {
  color: white;
  text-align: center;
  font-weight: 700;
  background-image: url('./assets/images/bg-boost-mobile.svg');
  background-repeat: no-repeat;
  background-position: right;
  padding: 3.5em 0;
}

.btn, .input-submit  {
  cursor: pointer;
  transition: all 250ms ease-in-out;
  border-style: none;
}

.btn a {
  color: white;
  font-weight: 700;
}

.center-flex {
  display: flex;
  justify-content: center;
}

.input-submit {
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
}

.input-submit, .cyan-btn {
  background: var(--cyan);
  color: white;
  border-style: none;
}

.cyan-btn {
  height: 56px;
  width: 197px;
  border-radius: 30px;
}

.url-input {
  border-radius: 10px;
  padding: 0 1em;
  border: 2px solid transparent;
}

.url-input, .input-submit {
  height: 64px;
}

.cyan-btn:hover, .input-submit:hover, #sign-up-btn:hover, .copy-btn:hover {
  background: hsl(180, 57%, 75%);
}

.hero__container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
}

.hero > * {
  flex: 1;
}

.hero__container {
  margin-bottom: 5em;
}

.hero section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__img {
  background-image: url('./assets/images/illustration-working.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-submit {
  height: 48px;
}

.original-url {
  border-bottom: 1px solid var(--gray);
}

.short-url-copy span, .original-url {
  padding: 1em 0;
}

.cards {
  display: flex;
  gap: 3em;
  flex-direction: column;
  padding: 1em 0 4em;
}

.cards__block {
  background: var(--light-gray);
}

.card-text {
  background-color: white;
  padding: 1em 2em;
  border-radius: 0 0 10px 10px;
}

.card-img {
  background: linear-gradient(to bottom, var(--light-gray) 50%, white 50%);
  /* display: flex; */
}

.card-img img {
  background: var(--dark-purple);
  padding: 0.5em;
  margin-inline: auto;
  border-radius: 50%;
}

footer {
  background: black;
  color: white;
  padding: 2.5em 0;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.second-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.7em;
}

.secondary-nav a {
  color: rgba(191, 191, 191, 1);
}

.social-media {
  display: flex;
  gap: 1em;
}

@media (min-width: 50em) {
  h1 {
    letter-spacing: -2px;
    line-height: 90px;
  }

  h2 {
    letter-spacing: -1px;
    line-height: 48px;
  }

  h4 {
    letter-spacing: -1px;
    line-height: 48px;
  }

  h5 {
    margin-bottom: 1em;
  }

  .text-align {
    text-align: left;
  }

  .hero section > * {
    width: 80%;
    margin-left: auto;
  }

  .hero-p {
    letter-spacing: 0.15px;
    line-height: 36px;
  }

  .input-submit {
    height: 64px;
    width: 188px;
  }

  .cards, .short-url-copy, .link-result {
    flex-direction: row;
  }

  .cards {
    min-height: 50vh;
    padding-bottom: 3em;
  }

  #card-1 {
    align-self: center;
  }

  #card-2 {
    align-self: flex-end;
  }

  .link-result {
    justify-content: space-between;
  }

  original-url {
    border-style: none;
  }

  .link-result, .short-url-copy {
    align-items: center;
  }

  .short-url-copy span, .original-url {
    padding: 0;
  }

  .short-url-copy {
    gap: 1em;
  }

  .center-flex {
    justify-content: flex-start;
  }

  .card-img img {
    margin-inline: 2em;
  }

  form {
    flex-direction: row;
  }

  .url-input {
    flex: 1;
  }

  .hero {
    flex-direction: row;
  }

  .form__url {
    background-image: url('./assets/images/bg-shorten-desktop.svg');
  }

  .cta-block {
    background-image: url('./assets/images/bg-boost-desktop.svg');
  }

  footer .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .second-nav-container {
    flex: 1;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 2.5em;
    text-align: left;
    flex-direction: row;
    margin-right: 2em;
  }
}

/* NAVIGATION QUERIES */
@media (min-width: 698px) {
  header {
    --max-width: 1110px;
    --padding: 2rem;
    width: min(var(--max-width), 100% - var(--padding) * 2);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 2em;
    margin-inline: auto;
  }

  .primary-navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
  }

  .primary-navigation ul {
    display: flex;
    margin: 0;
    gap: 2em;
  }

  #sign-up-btn {
    padding: 0.4em 1em;
  }

  .mobile-nav-toggle {
    display: none;
  }
}

@media (max-width: 698px) {
  .primary-navigation {
    position: fixed;
    top: 0;
    inset: 0 0 0 0%;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
    background: #3A3054;
    color: white;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  #sign-up-btn {
    width: 60%;
  }

  header {
    margin: 1.5em 0;
  }

  .primary-navigation > * {
    width: 80%;
    margin-inline: auto;
  }

  .nav-btn, .logo {
    padding: 0.5em 0;
  }

  nav ul > * {
    margin-bottom: 1em;
  }

  a.nav-btn, .login-nav-btn {
    display: block;
    color: white;
    text-align: center;
    font-weight: 700;
  }

  .logo {
    position: absolute;
    left: 1em;
  }

  #burger-icon, #close-icon {
    width: 2em;
    /* aspect-ratio: 1; */
  }

  .nav-on {
    transform: translateX(0%);
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    position: absolute;
    background-color: transparent;
    aspect-ratio: 1;
    right: 1em;
  }

  .mobile-nav-toggle {
    z-index: 9999;
  }
}

@media (max-width: 1024px) {
  .cards {
    background-image: url('./assets/images/line.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}